ul li{
  list-style:none;
}

a{
  text-decoration:none;
  color:black;
}

a:hover{
  color:blue;
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px 20px;
  margin:30px 0;
  background-color:rgb(155,155,155);
  
}

h1{
  display:flex;
  margin:0;
  font-size:25px;
}

h2{
  font-size:20px;
}
p{
  font-size:15px;
}
ul{
  display:flex;
  margin:0;
  padding:0;
}
li{
  margin-right:25px;
}

img{
  width:100px;
  height:100px;
}